.actionList {
  border: 1px solid #323232;
  width: 325px;
  box-sizing: border-box;
}

.action_list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 300px;
  overflow-y: scroll;
  /* Перенесли overflow-y на этот элемент */
}