.action_list {
  border-radius: 5px;
  height: 583px;
  overflow-y: scroll;
  box-sizing: border-box;
  max-width: 1000px;
  padding: 0;
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .action_list, .actionList{
      width: 400px !important;
      margin: 0 auto;
      box-sizing: border-box;
  }

}
@media screen and (max-width: 420px) {
  .action_list, .actionList{
      width: 320px !important;
      margin: 0 auto;
      box-sizing: border-box;
  }

}